<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Bingpaper</string>
			</array>
		</dict>
	</array>
	<key>GIT_DATE</key>
	<string></string>
	<key>GIT_HASH</key>
	<string></string>
	<key>FIR_CLI_API_TOKEN</key>
	<string>FIR_CLI_API_TOKEN</string>
</dict>
</plist>
